
/* Page Styles
================================ */

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: normal 1em/1.5 sans-serif;
	color: #666666;
	background-color: #edeff0;
}
h2, h3 {
  font: normal 1.5/2em sans-serif;
  color: black;
}
img {
/*	border: solid 1px;*/
	padding: 5px;
    max-width: 100%;
}

@media all and ( min-width: 950px ) {
  
  .col-1-2 {
    float: left;
    width: 50%;
    
  }
  .col-2-3 {
    float: left;
    width: 100%;
    
  }
  
   .col-3-4 {
    float: left;
    width: 15%;
    
  }

  
}


/* Main Layout Styles
================================ */

.main-header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white; 
}
.main-logo {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}
.main-logo a, 
.main-nav a {
	display: block;
	text-align: center;
/*	border-radius: 5px;*/
	color: #767676;
	text-decoration: none;
	padding: 10px 20px;
}
.main-logo a { 
	background-color: white; 
}
.main-nav a { 
	background-color: white; 
}

.main aside {
  color: black;
  padding: 0px 5% 10px;
  
}

.main aside2 {
  color: black;
  padding: 0px 5% 10px;
  
}
.main-footer {
	text-align: center;
    color: #000000;
	margin-top: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
 	background-color: #e0e0e0;
}


@media (min-width: 768px) { 

	/* Main Layout Styles
	================================ */

	body {
		padding-top: 75px;
	}
	.main-header {
		position: fixed;
		top: 0;
		width: 100%;
	}
	.main-nav {
		text-align: right;
	}
	.main-nav li {
		margin-top: 6px;
		margin-left: 10px;
		display: inline-block;
	}
	.main-banner {
		background: #dfe2e4;
		text-align: center;
		padding: 50px 15px;
		margin-bottom: 20px;
	}
  .feat-text {
		width: 50%;
		float: left;
		padding-left: 60px;
        padding-bottom: 60px;
	}
  .col-3-4 {
    float: left;
    width: 15%;
    border: 3px;
    
  }

  
	/* Imagery
	================================ */

	.feat-img {
		width: 50%;
		float: left;
		margin: 5px 20px 10px 0;
	}
  
  .feat-img2 {
		width: 100%;
		float: left;
		margin: 0 20px 10px 0px;
	}

}

@media (min-width: 1px) and (max-width: 767px)  {
	.main-nav li {
		margin-top: 12px;
	}
}